@import url("./fonts.css");

:root {
  --color_07101D: #07101d;
  --color_FF3C00: #ff3c00;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Kalameh-Regular";
  background-color: var(--color_07101D);
}
